.index-banner {
    background: url(../images/banner.jpg) no-repeat 50% 50%;
    height: 300px;
    background-size: cover;
}
.index-car-name {
    border-bottom: 1px solid #D1D1D1;
    font-size: 20px;
    font-weight: bold;
}
.index-car-option {
    font-size: 18px;
    color: #616161;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.index-car-btn {
    width: 140px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #076CE0;
    text-align: center;
    line-height: 38px;
    color: #076CE0;
    font-size: 18px;
    margin-right: 20px;
    background-color: #fff;
}