<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart vehicle rental web</title>
  <link href="/layui/css/layui.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">
  <link href="/css/index-schedule.css" rel="stylesheet">
  <script src="/layui/layui.all.js"></script>
  <!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    #magnifier {
      position: absolute;
      border: 2px solid #000;
      width: 200px;
      height: 200px;
      display: none;
      pointer-events: none;
    }

    #magnifier::after {
      content: "";
      display: block;
      position: absolute;
      top: -20px;
      left: -20px;
      width: 40px;
      height: 40px;
      border: 2px solid #000;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.5;
      z-index: 1;
    }

    #magnifier div {
      position: absolute;
      width: 400px;
      height: 400px;
      background-repeat: no-repeat;
      background-size: 800px 800px;
      z-index: 2;
    }

    .links-container {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: flex-start;
      margin-top: 10px;
    }

    .link-wrapper {
      width: calc(12% - 20px);
      text-align: left;
      height: 30px;
      margin-right: 20px;
    }

    .index-logo-span {
      background-color: #5b5b5b;
      color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 -2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      cursor: pointer;
      padding: 6px 20px;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .index-logo-span:hover {
      opacity: 0.8;
      transform: translateY(1px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 -2px 4px rgba(0, 0, 0, 0.15);
    }

    .container {
      border: 1px solid #ccc;
      border-radius: 20px;
      box-shadow: 0 10px 15px rgb(0, 0, 0);
      padding: 20px;
      width: 28%;
      margin-top: 20px;
    }

    .layui-col-md5 img {
      margin-top: 20px;
    }
  </style>
</head>

<body style="font: 12px/1.5 'Microsoft YaHei',sans-serif;background-color: #2f2f2f;color: #dcdcdc;">
<div class="layui-fluid" style="background-color: #2f2f2f; height: 30px;">
  <div class="layui-container">
    <div class="links-container">
      <div class="link-wrapper">
        <a href="/userpage/login" class="index-logo-span">登录</a>
      </div>
      <div class="link-wrapper">
        <a href="/userpage/login" class="index-logo-span">注册</a>
      </div>
      <div class="link-wrapper">
        <a href="/userpage/carlist" class="index-logo-span">首页</a>
      </div>
      <div class="link-wrapper">
        <a href="/userpage/carlist" class="index-logo-span">我要租车</a>
      </div>
      <div class="link-wrapper">
        <a href="/userpage/orderdetail" class="index-logo-span">我的订单</a>
      </div>
      <div class="link-wrapper">
        <a href="/userpage/logout" class="index-logo-span">退出</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="layui-container" style="padding: 0;">
    <div class="layui-row">
      <div class="layui-col-md5">
        <img th:src="${carInfo.image}"
             style="width: 400px; height: 266px;" onmousemove="showMagnifier(event)"
             onmouseout="hideMagnifier(event)">
        <div id="magnifier">
          <div></div>
        </div>
      </div>
      <div class="layui-col-md7">
        <div class="layui-row">
          <div class="layui-col-md12 index-car-name">
            <span th:text="${carInfo.brand}" /> <span th:text="${carInfo.model}" />
          </div>
        </div>
        <div class="layui-row">
          <div class="layui-col-md12 index-car-option">
            <div>价格：<span th:text="${carInfo.rental}" />/日</div>
            <div>参数：<span th:text="${carInfo.speedChanger}" /> <span th:text="${carInfo.consumption}" /> | <span th:if="${carInfo.carType ==1}">普通车</span> <span th:if="${carInfo.carType ==2}">SUV</span> <span
                    th:if="${carInfo.carType ==3}">MPV</span> <span th:if="${carInfo.carType ==4}">A级车</span> <span
                    th:if="${carInfo.carType ==5}">B级车</span> <span th:if="${carInfo.carType ==6}">C级车</span> <span
                    th:if="${carInfo.carType ==7}">加长车</span>|<span th:text="${carInfo.seatNum}" />座</div>
            <div>品牌：<span th:text="${carInfo.brand}" /></div>
<!--            <div>体验：时尚 | 舒适 | 运动 | 操控</div>-->
          </div>
        </div>
      </div>
                  <div class="layui-row">
                      <div class="layui-col-md12">
                          <button class="index-car-btn"><i
            class="layui-icon layui-icon-cellphone-fine"></i>18040304337</button>
                          <button class="index-car-btn"
                                  style="background-color: #5b5b5b; color: #fff;">在线询价</button>
    </div>
    </div>
      <script>
        function showMagnifier(event) {
          var img = event.target;
          var magnifier = document.getElementById("magnifier");
          magnifier.style.display = "block";
          magnifier.style.left = event.pageX + "px";
          magnifier.style.top = event.pageY + "px";
          magnifier.children[0].style.backgroundImage = "url('" + img.src + "')";
          magnifier.children[0].style.backgroundPosition = -event.offsetX * 2 + "px " + -event.offsetY * 2 + "px";
        }
        function hideMagnifier(event) {
          var magnifier = document.getElementById("magnifier");
          magnifier.style.display = "none";
        }
      </script>
    </div>
  </div>
</div>
</body>

</html>