.index-logo-span {
    color: #23B7B7;
}
.index-logo-pic {
    width: 375px;
    height: 52px;
}
.index-nav {
    font-size: 18px;
    color: #666;
}
.index-min-car {
    width: 78px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.active {
    border: 1px solid #23B7B7;
}
.model-pic0 {
    padding-left: 10px;
    width: 58px;
    height: 38px;
    display: inline-block;
}


.index-car-name {
    padding: 2px 12px 3px;
    display: inline-block;
}
.active1 {
    background-color: #23B7B7;
    color: #fff;
}
.index-car-price {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.index-car-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 193px;
}
.index-car-item2 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 193px;
}
.item2-p1 {
    font-size: 16px;
    color: #666666;
}
.item2-p2 {
    font-size: 14px;
}
.item2-span {
    color: #E4905E;
    background-color: #FCF4F0;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.index-car-item3 {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 193px;
    padding-right: 10px;
}
