body,
html,
div {
  padding: 0;
  margin: 0;
}

#head {
  width: 100%;
  height: 43px;
}
#head ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#head ul li {
  float: left;
}
#head ul li a {
  display: block;
  width: 139.6px;
  color: black;
  background-color: rgb(240, 246, 244);
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}
#head ul li a:hover {
  background-color: gray;
}

#foot {
  width: 100%;
  height: 42px;
  margin-top: 10px;
}
#foot ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#foot ul li {
  float: left;
}
#foot ul li a {
  display: block;
  width: 250px;
  color: grey;
  background-color: white;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  line-height: 30px;
  font-size: 14px;
}

* {
  text-decoration: none;
}
a {
  color: rgb(237, 212, 16);
}

input,
button {
  outline: none;
}

#content {
  border: solid 2px #e0e0e0;
  width: 25rem;
  height: 30rem;
  background-color: rgb(242, 247, 242，1);
  margin-top: 50px;
  margin-left: 50%;
  float: left;
  
}

.header a {
  width: 50%;
  height: 60px;
  background-color: #f5f5f5;
  display: inline-block;
  float: left;
  /*居中*/
  text-align: center;
  line-height: 60px;
  color: #090808;
}

.header a.current {
  background-color: transparent;
  color: rgb(74, 74, 179);
}

#body {
  margin: 2rem;
}

.dom {
  width: 100%;
  display: none;
}

#input {
  width: 100%;
  height: 2rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  border: 1px solid #4245a2;
}

#s1 {
  margin-bottom: 1rem;
}

#button {
  width: 100%;
  height: 2rem;
  border: none;
  font-size: 1.5em;
  color: #fff;
  background-color: rgb(80, 82, 129);
  border-radius: 3px;
  margin-bottom: 1rem;
}

#s2 {
  text-align: center;
}

#s3 {
  margin-top: 1rem;
}

#input1 {
  width: 60%;
  height: 2rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  border: 1px solid #3358b6;
}

#button1 {
  width: 35%;
  height: 2rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  border: 1px solid #385cb9;
  cursor: pointer;
}
