<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Root</title>
    </head>
    <body>
        <h1>Root Admin</h1>
        <h2>Welcome!</h2>

        <table>
            <thead>
                <tr>
                    <th>Name</th><th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="root : ${adminList}">
                    <td th:text="${adminUser.id}"></td><td th:text="${adminUser.name}"></td><td th:text="${adminUser.password}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>