<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>admin</title>
</head>
<body>
    <h1>Root Home Page</h1>
    <h2>Welcome! <span th:text="${username}"></span> !</h2>

    <div><a th:href="@{/r/list}">Team List</a></div>
    <div><a th:href="@{/r/add}">Add Team</a></div>

</body>
</html>